apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: sdbr1234/api-mongo-employees:1.0
          ports:
            - containerPort: 8000
          env:
            - name: MONGO_HOST
              value: 'mongo'
            - name: MONGO_PORT
              value: "27017"
            - name: MONGO_DB
              value: 'employees'
            - name: MONGO_USER
              value: 'root'
            - name: MONGO_PASSWORD
              value: 'rootpassword'
